<div class="grid gap-[32px]">
    <div class="flex justify-between pb-[24px] items-center text-base font-medium border-b border-[#f6f6f7]">
        <div class="">
            @CRS.CLUB.APPLICATION.Resources.Resource.Calendar
        </div>
        <div class="flex gap-[12px] items-center">
            <div class="flex h-[32px] w-[40px] justify-center items-center border border-[#D9D9D9] rounded-[4px]" id="prev-id">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
            <div class="flex text-base font-medium current-date">
            </div>
            <div class="flex h-[32px] w-[40px] justify-center items-center border border-[#D9D9D9] rounded-[4px]" id="next-id">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>

    </div>
    <div class="grid gap-[21px] justify-center mb-6">
        <div class="grid grid-cols-7 w-full justify-between calender-card-schedule-container days-class">
        </div>
    </div>
</div>

